.case-studies{
  background-color: #faf5f0;
  font-family: "poppins";
  padding-top: 237.18px;

}
.case-title{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  color: #313543;
}
.case-flex{
    display: flex;
}
.case-heading{
  font-family: "poppins";
  font-size: 51.568px;
  font-weight: 700;
  line-height: 61.881px;
  text-align: center;
  color: #313543;
  margin-left: 0px;
  padding: 0px 0px 60px 0px;
}
.blackbuck{
  background-color: #ffffff;
  margin-left: 210px;
  width: 691px;
  margin-right: 63px;
  padding-bottom: 15px;
  margin-bottom: 80px;
}
.blackbuck-title{
  padding: 34px 34px 20px 31px;
  font-size: 22.49px;
}
.types{
  font-size: 13px;
  float:right;
  padding:2px 14px;
  margin-top: -5px;
  margin-right: 10px;
  color: #5b78b1;
  text-decoration: none solid rgb(0,0,0);
  background-color: #EEF2F9; 
  width: fit-content;
}
.blackbuck-img{
  width: 691px;
  height: 530.33px;
}
.blackbuck-details{
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 21px;
  text-align: left;
  color: #313543;
  display: block;
  padding: 0px 138px 14px 31px;
  margin-top: -5px;
  font-weight: 400;
}
.lendstack{
  background-color: #ffffff;
  width: 691px;
  padding-bottom: 15px;
  margin-bottom: 80px;
}
.lendstack-title{
  padding: 34px 34px 20px 31px;
  font-size: 22.49px;

}
.lendstack-img {
  width: 691px;
  height: 530.33px;

}
.lendstack-details{
  font-size: 14px;
  font-family:"Montserrat";
  line-height: 21px;
  text-align: left;
  color: #313543;
  display: block;
  padding: 0px 138px 14px 31px;
  margin-top: -5px;
  font-weight: 400;
}
.view{
  font-size: 16px;
  font-family: "Montserrat";
  width: 244.95px;
  border: 2px solid #242424;
  margin: 7px 7px 6px 34px;
  padding: 20px 5px 20px 20px;
  display: flex;
}
.arrow{
  height:25px;
  width:25px;
  padding-left: 120px;
}
.allCase{
  font-size: 14px;
  font-family:"Montserrat";
  text-align: center;
  color: #313543;
  margin-top: 125px;
  padding-bottom: 150px;
  font-weight: 400;
}
.allcase-img{
  color: black; 
  margin-left: -1px;
  margin-bottom: -5px;
}
.view-xr{
  display: none;
} 
.xr-br{
  display: none;
}
.paper{
  margin-left:115px;
  display: flex;
  margin-top: -12px;
}
.paper-img{
  width: 720px;
  height: 600px;
}

.paper-aside{
  width: 880px;
  background-color: #ffd948;

}
.paper-title{
  padding-top: 140px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #1e232d;
  font-family: "poppins";
}
.paper-heading{
  font-size: 30px;
  font-family: "poppins";
  font-weight: 700;
  text-align: center;
  color: #1e232d;
  margin: 20px 0px 20px 0px;
}
.paper-subheading{
  font-size: 18px;
  font-family: "Montserrat";
  text-align: center;
  color: #1e232d;
}
.paper-details{
  font-size: 14px;
  font-weight: 400;
  font-family: "montserrat";
  line-height: 2;
  text-align: center;
  color: #1e232d;
  margin: 20px 70px 20px 35px;
}

.paper-button{
  font-size: 16px;
  font-family: "montserrat";
  text-align: center;
  color: #ffffff;
  background-color: #7549ab;
  height: 49px;
  width: 260px;
  margin: 15px 0px 0px 315px;
  cursor: pointer;
}

.clients{
  background-color: #000000;
  margin-left: -8px;
  height: 975px;
  width: 1835px;
}
.clients-title{
  font-size: 50.48px;
  font-family: "montserrat";
  text-align: center;
  color: #fff0e8;
  font-weight: 700;
  margin-bottom: 5px;
  padding-top: 150px;
}
.clients-heading{
  font-size: 18.72px;
  font-family: "montserrat";
  text-align: center;
  color: #fff0e8;

}
.clients-details{
  font-size: 16px;
  font-family: "montserrat";
  font-weight: 300;
  text-align: center;
  color: #fff0e8;
  margin: 20px 0px 30px 150px;
  width: 1468px ;
  line-height: 25.6px;
  padding-bottom: 40PX;
  
}
.clients-img {
  display: inline;
  width: 1408px;
}
.clients-img img{
  padding-right: 20px;

}
.clients-img p{
  margin-left: 90px;
}
.clients-slider{
  display: none;
}
body{
  overflow-x: hidden;
}

.words{
  position: relative;
}
.wordsClient{
  position: absolute;
  width: 46vw;
  height: 81vh;
  z-index: 3;
  margin-left: -8px;
  flex-basis: auto;
}

#wordsimg-2{
  display: none;
}
.client{
  width: 100px;
  margin-left: 100px;
  border-radius: 50%;
}
.words-content{
  display: flex;
  padding: 30px 0;
  height: 1200px;
  margin-left: 42vw;
  text-align: center;
  color: #5f666f;
}
.words-content h3{
  color: #a150d9;
  margin-left: 120px;
  font-size: 22px;
  font-weight: 500;
  width: 885px;
  padding-bottom: 100px;
}
.words-content p{
  color: #5f666f;
  font-size: 16px;
  line-height: 2;
  width: 780px;
  margin-top: 0px;
  margin-left: 200px;
}
.client{
  margin-left: 150px;
}
#nameofclient{
  font-size: 18px;
  color: black;
  font-weight: 900;
}
#nameofclient p{
  font-size: 16px;
}
.office{
  color: #0000EE;
}
.content-1 .client-name{
  padding-top: 50px;
}
.client-name{
  padding-top: 50px;
}
.words a{
  text-decoration: none;
}

.arrow2{
  font-size: 10px;
  width: 20px;
  height: 20px;
  color: black;
  padding: 14px;
  word-spacing: 100px;
  border: #f4f4f4 1px solid;
  box-shadow: 0 0 5px white;
  border-radius: 50%;
}
.arrow2:hover {
  background-color: rgb(206, 206, 206);
  box-shadow: none;
  cursor: pointer;
}

.carousel-2 {
  position: relative;
  margin: 0;
  left: 0;
  animation: 10s slider-2 infinite;
}



@keyframes slider-2{
  0%{
      left: -0%;
  }
 24.99%{
     left: -0%;
 }
  25%{
      left: -60%;
  }
  49.99%{
      left: -60%;
  }
  100%{
      left: 0%;
  }
  50%{
      left: -122%;
  }
  74.99%{
      left: -122%;
  }
  75%{
      left: -183%;
  }
  99.99%{
      left: -183%;
  }
  100%{
      left: -2%;
  }
}

.scroll2{
  margin-left: 1%;
  margin-top: 30px;
}

.scroll2 a{
  margin-right: 20px;
}

.content-1{
    text-align: center;
}
.content-2{
  text-align: center;
  padding: 0 100px;
}
.content-3{
  text-align: center;
}
.content-4{
  padding: 0 100px;
  text-align: center;
}