body{
    overflow-x: hidden;
}
#art{
    color: #313543;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    font-size: 22.48px;
    line-height: normal;
    letter-spacing: normal;  
    margin-bottom: -10px; 
    margin-top: -70px;
}
#black-text{
    font-family: 'Poppins', sans-serif;
    font-size: 68.2px;
    color:black;
    font-weight:700;
    margin-left: 10%;
    margin-top:10px;
    line-height: normal;
    letter-spacing: normal;      
}
#pink-text
{
    font-size:68.2px;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    color: #f37298;
    margin-left: 10%;
    line-height: normal;
    letter-spacing: normal;   
    margin-top: -40px;
}
.album{
    display: flex;
    float: left;
    margin-left: 10%;  
}
.album img{
    padding-right: 15px;
}
#pic2{
    border-radius: 10px;
}
#pic3{
    border-radius: 10px;
}
.pic-text{
    font-size: 18px;
    color:white;
    position: relative;
    bottom: 120px;
    left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;    
}
.left-arrow{
    height: 35px;
    width: 35px;
    background-color:transparent;   
    border: 2px solid #f4f4f4;
    border-radius: 50%;
    position: absolute;
    top:874%;
    left: 1610px;
}
.left-arrow img{
    height:10px ;
    width:10px ;
    position: relative;
    top:10px;
    left:13px;
}
.right-arrow{
    height: 35px;
    width: 35px;
    background-color:transparent;    
    border: 2px solid #f4f4f4;
    border-radius: 50%;
    position: absolute;
    top:874%;
    left: 1660px;
}
.right-arrow img{
    height:10px ;
    width:10px ;
    position: relative;
    top:10px;
    left:13px;
}
#subscribe-text{
    font-family: 'Poppins', sans-serif;
    font-size: 68.2px;
    color: #232d62;
    line-height:normal;
    letter-spacing: normal;
    text-align: center;
    padding-top: 40%;  
    margin-bottom:7px ;
}
#stay-text{    
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    color: #a8a9b0;
    padding:0px 250px 50px;
}
.forms{
    margin-left: 10%;  
}
.form-input{
    float: left;
    padding-right:2%;   
}
.required:after {
    content:" *";
    color: red;
  }
input[type=text] {
    height:60px;
    width:349px;
    border-radius: 6px;  
    font-family: 'Poppins', sans-serif;   
    background-color: transparent;    
    border: 1px solid rgba(128, 128, 128, 0.623); 
    padding-left: 3%;   
    font-size: 13.33px;
  }
input[type=email] {
    height:60px;
    width:544px;
    border-radius: 6px; 
    font-family: 'Poppins', sans-serif;   
    background-color: transparent;    
    border: 1px solid rgba(128, 128, 128, 0.623); 
    padding-left: 3%; 
    font-size: 13.33px;
  }
#label-name{
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
}
#label-city{
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
}
#label-email{
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
}
#submit{
    font-size: 13.33px; 
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    background-color: #4d66f0;
    color: white;
    font-weight:650;
    border: medium none;
    width:110px;
    height:60px;
    position:relative;
    top: 30px;
}
.before-footer{
    width:120% ;  
    margin-top: 310px;
    background-color: #313543;
    margin-left: -8px;
    margin-right: -18px;
    display: flex;
    float: left;
}.fibona-logo{
    height: 100px;
    width: 200px;
    padding-top:59px;
    padding-left: 220px;
}
.contentAfterLogo{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height:25px;
    padding-top: 25px;
    padding-left: 220px;
    padding-right: 280px;
}
.before-footer1{     
    /* background-color: #4d66f0; */
    width:900px;
    height:670px;
}
.before-footer2{    
    width:500px;
    height:400px;  
    /* background-color: #f37298;     */
    margin-top: 89px;
    margin-left: 270px;          
} 
.before-icon1{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: right;
    color: white;
    position: relative;
    top: 9px;
    right:310px;
}
.before-icon2{
    margin-right:200px ;
    font-size: 16px;
    position:relative;
    bottom: 120px;
    left: 180px;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    color: white;
} 
.socialmedia{
    margin-top: 25px;
    margin-left: 135px;
} 
.footer{
    background-color: black;
    width:120%; 
    height:125px;
    margin-left: -9px; 
    position:absolute; 
    top:1038%;  
    
}
.footer p{
    
    margin-top:40px ;
    margin-left: 230px;
    color:white;
    font-size: 18.96px;
    font-family: 'Poppins', sans-serif;
}
.chatbox{
height: 55px;
width: 55px;
border-radius: 60px;
background-color: #1b66cc;
margin-left: 1750px;
position: fixed;
margin-top: 50px;
z-index: 1;
}
